/*搭配js動畫--開始*/
.slide-in-left,.slide-in-right,.slide-in-up,.slide-in-down,.fade-in  
{
  opacity: 0;
  transition: all 0.6s ease-out;
}
.slide-in-left {
  transform: translateX(-50px);
}

.slide-in-right {
  transform: translateX(50px);
}

.slide-in-up {
  transform: translateY(50px);
}

.slide-in-down {
  transform: translateY(-50px);
}

.fade-in {
  transform: scale(0.95);
}

.show {
  opacity: 1;
  transform: translateX(0);
}

/*搭配js動畫--結束*/

/*Image source*/
.img-wrapper {
  position: relative;
  display: inline-block;
}

.credit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  color: #cccccc;
  opacity: 0.7;
  background: transparent;
}
